<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link href="{%static 'css/estilos.css'%}" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="{%static 'img/Icono.png'%}">
    <title>Datos Registro</title>
</head>

<body>

    <div>
        <h1 style="text-align: center;">Listado de Usuarios Registrados</h1>
    </div><br>
    <div>
        <table class="table">
            <tr>
                <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Correo Electronico</td>
                <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Usuario</td>
                <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Contraseña</td>
                <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Fecha de Nacimiento</td>
            </tr>
            {% for re in registros %}
            <tr>
                <td> {{re.correo}} </td>
                <td> {{re.usuario}} </td>
                <td> {{re.contraseña}} </td>
                <td> {{re.fchnac}} </td>
            </tr>
            {% endfor %}
        </table>

    </div>

</body>

</html>